.future {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  height: 100vh;
  color: white;
  padding: 50px 0px;
  margin: 50px 0px;
}

.future-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.future-right > p {
  font-size: 0.9rem;
  color: rgb(58, 175, 226);
}

.future-left > h1 {
  padding-bottom: 40px;
  width: 80%;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.future-left > span {
  color: rgb(239, 96, 44);
}

.future-title {
  position: relative;
}

.future-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 120px); /* 500px - 100px (border length) on each side */
  height: 10px;
  border-top: 5px solid;
  /* Adjust as needed */
  border-image: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  border-image-slice: 1;
}
